* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans';
  list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #F5F5F5;
  font-size: 1em;
}
main {
  margin-top: 4em;
}
.container {
  font-size: 1.2em;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container h2 {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 2%;
  margin-top: 1em;
  color: #2e8ddb;
  font-size: 28px;
}

.carro {
  width: 90%;
  background-color: #ffffff;
  border-radius: 2px;
  border: solid #d9d9d9 1px;
}

.unidad {
  font-size: 1.2em;
}
.producto {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  border-bottom: solid #d9d9d9 1px;
  border-radius: 2px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  border: solid #d9d9d9 1px;
  border-radius: 2px;
}

.checkout {
  border-top: solid grey 1px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#submit-button {
  margin: 1em;
  padding: 0.50em;
  border-radius: 5px;
  border: none;
    font-size: 1em;
  color: white;
  background: #2e8ddb;
  margin-bottom: 3em;
}

.datos-de-envio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datos-de-envio input {
  padding: 2%;
  border: none;
  border-bottom: solid #d9d9d9 1px;
}

.datos-tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datos-tarjeta input {
  padding: 2%;
  border: none;
  border-bottom: solid #d9d9d9 1px;
}

@media (min-width: 768px) {

  .items {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }

  .envio {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }

  .tarjeta {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }

  .carro {
    width: 40%;
  }

  .total {

  }
}
