body {
  font-size: 1.2em;
  font-family: 'Open Sans';
}

.container {
  background: #e3e3e3;
}

.banner {
  background: linear-gradient(0deg, rgba(242,87,148,1) 1%, rgba(161,64,224,1) 100%);
  width: 100%;
  padding-top: 3em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-text {
  width: 40%;
  padding-left: 5px;
  color: white;
}

.banner-img {
  width: 50%;
}

.banner-img img {
  width: 100%;
}

#banner {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 1em;
}

main {
  display: flex;
  padding-top: 1em;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.producto {
  width: 40%;
  text-align: center;
  border: solid #d4d4d4 1px;
  margin: 5px;
  background: white;
  border-radius: 5px;
  padding: 5px;
}

.producto img {
  width: 100%;
}
