body {
  font-family: 'Open Sans';
  background: #e3e3e3;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
}

.banner {
  background: linear-gradient(0deg, rgba(242,87,148,1) 1%, rgba(161,64,224,1) 100%);
  width: 100%;
  margin: 1.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  margin-top: 1.6em;
}

.banner-text {
  width: 45%;
  color: white;
  display: flex;
  flex-direction: column;
}

.banner-img {
  width: 45%;
}

.banner-img img {
  width: 80%;
  height: auto;
}
.ordenar {
  width: 120px;
  margin: 10px;
  margin-left: 5%;
  padding: 5px;
  border: dotted 1px #f0f0f0;
  border-radius: 10px;
  background: #ededed;
}
.ordenar a{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2.5em;
}

.producto {
  width: 48%;
  padding: 8px;
  margin: 1%;
  text-align: center;
  border: solid #d4d4d4 1px;
  background: white;
  border-radius: 10px;
}

.producto img {
  width: 100%;
  max-width: 200px;
}

@media (min-width: 768px) {
  .container{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
  }

  .producto{
    width: 23%;
  }

  .banner {
    width: 100%;
    overflow: hidden;
  }

  .banner-img img {
    width: 80%;
    height: auto;
  }

}
