body {
  font-family: 'Open Sans';
  background: #e3e3e3;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1.3em;
}

.banner {
  background: linear-gradient(0deg, rgba(242,87,148,1) 1%, rgba(161,64,224,1) 100%);
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 300px;
}

.banner-text {
  width: 40%;
  padding-left: 5px;
  color: white;
}

.banner-img {
  width: 50%;
}

.banner-img img {
  width: 100%;
}
.ordenar {
  width: 120px;
  margin: 10px;
  margin-left: 5%;
  padding: 5px;
  border: dotted 1px #f0f0f0;
  border-radius: 10px;
  background: #ededed;
}
.ordenar a{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin-bottom: 2em;
  width: 97%;
  margin: auto;
}

.producto {
  width: 49.5%;
  padding: 8px;
  margin-bottom: 3px;
  text-align: center;
  border: solid #d4d4d4 1px;
  background: white;
  border-radius: 5px;
}

.producto img {
  width: 100%;
  max-width: 200px;
}
@media (min-width: 600px) {
  .container{
    width: 85%;
  }
  .producto{
    width: 23%;
  }
  .
}
