body{
  background: #ececec;
}
.container{
  width: 98%;
  margin: 4em auto;
  display: flex;
}
.cont-a{
  width: 20%;
  display: none;
  line-height: 2em;
}
.fil-titu{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.fil-sec-opt{
  margin-bottom: 25px;
}
.fil-sec-titu{
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 15px;
}
.cont-b{
  width: 100%;
}
.productos {
  background: white;
  border-radius: 3px;
}
.producto img {
  width: 120px;
  margin-right: 5px;
  border-radius: 5px;
}
.producto{
  margin-bottom: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ececec;
}
.imagen-p{
  display: inline-block;
  padding: 0 10px;
}
.info-p{
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}
.titulo-p{
  font-size: 14px;
}
.fav-p{
  padding: 10px 0;
}
.fav-p ion-icon{
  color: red;
}
body{
  font-family: 'Open Sans';
}
.opciones{
  display: flex;
  justify-content: space-between;
}
.opcion{
  width: 33.15%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(250,250,250);
}
.vista{
  width: 60px;
  font-size: 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.barra {
  position: relative;
  bottom: 2px;
  font-size: 16px;
  color: #c3c3c3;
}
.opt-text{
  padding-right: 10px;
  font-size: 14px;
}
label{
  color: gray;
}
p {
  font-size: 0.9em;
}
@media (min-width:500px){
  .container{
    max-width: 600px;
  }
  .opcion{
    width: 33.2%;
  }
}
@media (min-width:1024px) {
  .container{
    max-width: 1200px;
  }
  .cont-a{
    display: block;
  }
  .opciones{
    background: #fafafa;
  }
  .opcion{
    width: 15%;
  }
  .opt-filt{
    display: none;
  }
}
