body{
  background: #ececec;
}
.container{
  width: 98%;
  margin: 4em auto;
}
.productos {
  background: white;
  border-radius: 3px;
  max-width: 500px;
}
.producto img {
  width: 120px;
  margin-right: 5px;
  border-radius: 5px;
}
.producto{
  margin-bottom: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ececec;
}
.producto .imagen-p{
  display: inline-block;
  padding: 0 10px;
}
.producto .info-p{
  width: 300px;
  display: inline-block;
  padding: 10px 0;
}
.titulo-p{
  font-size: 14px;
}
body{
  font-family: 'Open Sans';
}
.opciones{
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.opcion{
  width: 33.15%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(250,250,250);
}
.ordenar{
  width: 60px;
  font-size: 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.barra {
  position: relative;
  bottom: 2px;
  font-size: 16px;
  color: #c3c3c3;
}
.opt-text{
  padding-right: 10px;
  font-size: 14px;
}
label{
  color: gray;
}
p {
  font-size: 0.9em;
}
