body{
  background: #ececec;
}
.container{
  width: 97%;
  margin: auto;
  margin-top: 4em;
}
.productos {
  background: white;
  border-radius: 6px;
  max-width: 500px;
}
.producto img {
  width: 120px;
  margin-right: 5px;
  border-radius: 5px;
}
.producto{
  margin-bottom: 6px;
  padding: 10px;
  display: flex;
  border-bottom: solid 1px #ececec;
}
.producto .imagen-p{
  display: inline-block;
  padding: 0 10px;
}
.producto .info-p{
  display: inline-block;
  padding: 10px 0;
}
body {
  font-family: 'Open Sans';
}
.ordenar {
  font-size: 20px;
  margin: 10px 0;
  border: solid 1px #f0f0f0;
  border-radius: 10px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
label{
  color: gray;
}
p {
  font-size: 0.9em;
}
