/* Este master controla los estilos generales o que se repiten varias veces*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
a, ion-icon, h1{
  color: #3e3a3a;
}
header {
  padding: 0 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,.20);
  z-index: 1;
}
.cont-head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont-head-b{
  display: none;
}
.h-bar{
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-end;
  width: 25%;
}
.h-icontext{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
.h-top{
  width: 25%;
}
.h-text{
  padding-right: 10px;
}
.h-categorias{
  display: none;
}
.h-busq-sm{
  display: none;
}

h1{
  font-weight: 400;
}
.nav-menu {
  padding: 3px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,.20);
}
footer {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.bg-cont {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.izq ul li {
  list-style-type: none;
  padding-top: 3px;
}
.center ul li {
  list-style-type: none;
}

.der form input .button {
font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.der .button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.copyright {
  color: white;
  display: flex;
  justify-content: center;
}
@media (max-width:1023px) {
  .h-bar{
    display: none;
  }
  .h-busq-sm{
    display: block;
  }
  .h-top{
    width: auto;
  }
}
@media (min-width:1024px) {
  .cont-head-b{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .form-busq{
    font-size:24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search{
    width: 400px;
    height: 25px;
    margin: 5px 0;
    background: #ececec;
    border-radius: 10px;
    border: 0px;
  }
  .busq-icon{
    padding-left: 5px;
  }
  .h-categorias{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
  }
  .nav-menu{
    display: none;
  }
}
