body {
  font-size: 1.2em;
  font-family: 'Open Sans';
  background: rgb(242,87,148);
  background: linear-gradient(0deg, rgba(242,87,148,1) 1%, rgba(161,64,224,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding-top: 3em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  font-size: 16px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 270px;
  box-shadow: 2px 2px 10px #777;
}
li{
  margin: 5px 0;
}
hr {
  margin: 10px 0;
}


h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}


a {
  color: black;
  text-decoration: none;
}
@media (min-width: 500px) {

  form{
    width: 450px;
    padding: 20px;
  font-size: 1.1em;
  }
}
